<div class="row">
    <div class="col-md-12">
       <img class="coverPhotoImg photo img" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/c0.24.851.315/p851x315/919461_651029328286940_2140278495_o.jpg" alt="Foto da capa" style="top:0px;width:100%" data-fbid="651029328286940">
    </div>
</div>