<div class="row col-lg-3 layout-left-column">

  <div class="avatar row col-lg-12">
    <%= image_tag 'http://www.gravatar.com/avatar/1703ab65a84c2d8d5f286f1c8e336d92?s=200&d=identicon&r=G', class: 'img-thumbnail'%>
  </div> <!-- .avatar -->

  <div class="features row col-lg-12">
    <div> @nandosousafr </div>

    <ul class="nav nav-pills nav-stacked">
      <li class="active">
        <%= link_to do %>
          <span class="badge pull-right">42</span>
          Mensagens
        <% end %>
      </li>

      <li>
        <%= link_to do %>
          <span class="badge pull-right">1</span>
          Solicitações
        <% end %>
      </li>

    </ul>

  </div> <!-- .features -->

  <div class="friends row col-lg-12">
    <h3> Alianças </h3>
    <ul>
      <li> <%= link_to '@moysesspj' %> </li>
    </ul>
  </div> <!-- .friends -->


</div> <!-- .layout-left-column -->
