header.navbar {
  background-color: #2A363B;
  border-radius: 0;
  border-bottom: 5px solid #99B898;

  ul.navbar-nav li a, .nav-header a {
    color: #f8f8f8;
  }

  ul.navbar-nav li a:hover {
    background-color: black;
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-collapse {
    width: 100%;
  }
}
