.post-cards {
  border: 1px solid #e9e9e9;
  padding: 3%;
  margin-bottom: 0.5em;

  .post-header {
    height: 4.5em;

    .user-info .avatar {
      float: left;
      width: 55px;

      img {
        height: 50px;
        width: 50px;
      }
    }

  }
  .post-body, .post-insights > a {
    font-size: 0.89em;
  }

  .post-insights > a {
    color: #EB8638;
    padding-left: 0.5em;
  }
}
